<html>
<head>
<title>TS info</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ url_for("static", filename="scripts/display.js") }}"></script>
<link rel="stylesheet" href="{{ url_for("static", filename="style/server.css") }}" />
</head>
<body>
<div id="tree">
	<h4 id="server_name"></h4>
	<ul id="channels">

	</ul>
</div>

<div id="server_info">
    <table id="server_table">
        <tr>
            <td class="bold">Server Name:</td>
            <td id="server_name_t"></td>
        </tr>

        <tr>
            <td class="bold">Status:</td>
            <td id="status"></td>
        </tr>

        <tr>
            <td class="bold">Max clients:</td>
            <td id="max_clients"></td>
        </tr>

        <tr>
            <td class="bold">Online clients:</td>
            <td id="online_clients"></td>
        </tr>

        <tr>
            <td class="bold">Port:</td>
            <td id="port"></td>
        </tr>

        <tr>
            <td class="bold">Uptime:</td>
            <td id="uptime"></td>
        </tr>

        <tr>
            <td class="bold">Platform:</td>
            <td id="platform"></td>
        </tr>

        <tr>
            <td class="bold">Welcome message:</td>
            <td id="welcome_message"></td>
        </tr>
    </table>
    <div id="info_display">
    <table>
    <tr>
        <td>Name:</td>
        <td>Channel 1</td>
    </tr>
    <tr>
        <td>Current Clients:</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>lol test</td>
    </tr>
    </table>
    </div>
</div>
</body>
</html>
