<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <table>
    {% for client in clients %}
        <tr>
            <td>{{ client.client_nickname }}</td>
            <td>
                <form method="post" action="/kick">
                    <input type="hidden" name="clid" value="{{ client.clid }}" />
                    <input type="submit" name="submit" value="Vote kick" />
                </form>
            </td>
            <td>Votes: {{ client.votes }}</td>
        </tr>
    {% endfor %}
    </table>

</body>
</html>